@include media-1100 {
  .cards-holder {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }
  .card {
    width: 100%;
    min-width: 240px;
  }
}

@include media-900 {
  .meow-link {
    display: none;
  }
  .search-btn {
    display: flex;
  }
  .reviews {
    display: none;
  }

  .right-pane {
    position: fixed;
    width: 100%;
    display: block;
    border-bottom: 2px solid $grey;
    top: -100%;
    transition: top 200ms cubic-bezier(1, 0, 0.07, 1);
    &.visible {
      top: 65px;
    }
  }

  .filter-sorting {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-sorting-lable {
    position: static;
    transform: rotateZ(0deg);
    margin-left: 0rem;
  }
}

@include media-768 {
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 2.2rem;
  }
}

@include media-625 {
  .logo-group {
    min-width: 170px;
    padding-right: 2rem;
    &:after {
      display: none;
    }
    img {
      width: 2.7rem;
    }
  }
  h1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    span {
      border-bottom: none;
    }
  }

  .cards-holder {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include media-435 {
  .center-content {
    margin-top: 3.2rem;
  }

  .left-pane {
    h2 {
      font-size: 1.2rem;
    }
  }

  .logo-group {
    min-width: 140px;
    height: 100%;
    img {
      width: 2.5rem;
    }
  }

  p.logo-text {
    font-size: 1.5rem;
  }

  h1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    span {
      border-bottom: none;
    }
  }

  .right-pane {
    &.visible {
      top: 50px;
    }
  }

  .search {
    label {
      font-size: 1.2rem;
    }
    input {
      font-size: 1.2rem;
    }
  }

  .filter-sorting-lable {
    font-size: 1.2rem;
  }
  .option-group {
    margin-left: 1rem;
  }
  .option {
    font-size: 1.2rem;
    min-width: 70px;
    button {
      font-size: 1.2rem;
    }
  }
}
